.background {
  background-color: #1F1E1E;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-1 {
  background-color: #000000;
  width: 52.083vw;
  height: 33.438vw;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
}

.text h2 {
  color: #86868B;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  width: 9.323vw;
}

.text h1 {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  width: 17.656vw;
}

.text p {
  color: #86868B;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  width: 18.438vw;
  font-size: 0.9vw;
}

.image img {
  width: 20.573vw;
  height: 29.479vw;
  position: relative;
  top: 4vw;
  left: 5vw;
}

.text .bold {
  color: #FFFFFF;
}

.background-mb {
  background-color: #1F1E1E;
  width: 100vw;
  height: 100vh;
}

.background-mb-1 {
  background-color: #000000;
  border-radius: 20px;
  width: 83.333vw;
  height: 152.778vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-mb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vw;
  margin-top: 8vw;
  margin-left: 8vw;
}

.text-mb h2 {
  color: #86868B;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2.778vw;
}

.text-mb h1 {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 5.833vw;
}

.text-mb p {
  color: #86868B;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
}

.text-mb .bold-mb {
  color: #FFFFFF;
}

.image-mb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-mb img {
  width: 54.861vw;
  position: relative;
  top: 21.5vw;
  bottom: 0;
  left: 5vw;
}