* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container-pc {
  display: block;
}

.container-mb {
  display: none;
}

@media (max-width: 720px) {
  .container-pc {
    display: none;
  }

  .container-mb {
    display: block;
  }
}